<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <br>
  <div id="content">
    <h1>This is part of a a code fitness</h1>
    <p>This is part of a a code fitness.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>

  </div>
</div>


